html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat';
  overflow-x: hidden;

}

header {
  background-image: url(images/Norway-wallpaper.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 924px;
}

#header-travelx-icons {
  position: relative;
  bottom: 490px;
  left: 50px;
  width: 200px;
}

#header-travelx-icons>img:last-child {
  position: relative;
  bottom: 10px;
  left: 5px;
}

#upper-main-menu {
  display: flex;
  justify-content: center;
  position: relative;
  top: 30px;

}

#menuicon {
  position: relative;
  left: 95%;
  bottom: 450px;

}

#upper-main-menu>a {
  text-decoration: none;
  color: white;
  margin: 20px 10px;
  font-weight: 500;
  transition: 900ms;
}

#upper-main-menu>a:hover {
  text-shadow: 5px 5px 10px white;
  font-size: 20px;
  transition: 900ms;
}

#norway-title {
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  top: 200px;
  right: 100px;
}

#norway-title>h1 {
  font-size: 200px;
  font-weight: bold;
}

#norway-title>h3 {
  position: relative;
  left: 500px;
  letter-spacing: 10px;
  font-size: 30px;
  font-weight: 100;
}

#cityes {
  display: flex;
  justify-content: center;
  position: relative;
  top: 400px;
}

#cityes>div {
  margin: 0px 20px;
  width: 200px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.231);
  border-radius: 10px;
  color: white;
  transition: 900ms;
}

#cityes>div:hover {
  width: 250px;
  transition: 900ms;
}

#cityes>div>img {
  position: relative;
  top: 10px;
  left: 10px;
}

#cityes>div>p {
  text-align: center;
  position: relative;
  bottom: 25px;
}

#cityes>div>p:last-child {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
  font-size: 13px;
}

#messengers {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 50px;
  left: 40px;
}

#messengers>a {
  margin: 10px;
}

#facebook {
  position: relative;
  left: 5px;
}

#twitter {
  position: relative;
  left: 2px;
}

main {
  margin-top: 130px;

}

#text,
#text2,
#text3,
#text4 {
  text-align: center;
  margin: 50px 0px;
}

#text>p,
#text2>p,
#text3>p,
#text4>p {
  letter-spacing: 10px;

}

#activities-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px auto;
  width: 1100px;
  height: 500px;
  border: 2px #ffffff solid;
}

#activities-gallery>div {
  height: 450px;
  width: 255px;
  margin: 0px 10px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 10px gray;
  border-radius: 20px;
}

#hiking {
  background-image: url(images/Hiking.png);
  transition: 900ms;
}

#sailing {
  background-image: url(images/Sailing.png);
  transition: 900ms;
}

#skiing {
  background-image: url(images/Skiing.png);
  transition: 900ms;
}

#Kayaking {
  background-image: url(images/Kayaking.png);
  transition: 900ms;
}

#hiking:hover,
#sailing:hover,
#skiing:hover,
#Kayaking:hover {
  height: 500px;
  width: 300px;
  box-shadow: 50px 50px 50px gray;
  transition: 900ms;
}

#activities-gallery>div>p {
  position: relative;
  left: 20px;
  top: 350px;
  margin-top: 1px;
  color: white;
}

#activities-gallery>div>p:first-child {
  font-weight: 500;
  font-size: 32px;
}

#Our-Philosophy {
  margin: 0px 120px;
}

#Sustainable {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#Mointain-image {
  background-image: url(images/Mountains.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 700px;
  width: 800px;
  position: relative;
}

#Sustainable-components {
  display: flex;
  flex-direction: column;
  margin: 0px 100px;
}

#Sustainable-components>div>p:first-child {
  font-size: 20pt;
  font-weight: 600;
  position: relative;
  right: 50px;
  top: 37px;
}

#Sustainable-components>div>p:last-child {
  width: 300px;
}

#Hotels-and-Apartement-Gallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 500px;
}

#Reine,
#Norway,
#Bergen {
  margin: 0px 10px;

}

#Hotels-and-Apartement-Gallery>div>img:first-child {
  height: 300px;
  width: 400px;
  padding: 5px 10px;

}

#Hotels-and-Apartement-Gallery>div {
  height: 400px;
  box-shadow: 10px 10px 10px gray;
  border-radius: 10px;
  transition: 900ms;
}

#Hotels-and-Apartement-Gallery>div:hover {
  padding: 10px;
  box-shadow: 50px 50px 50px gray;
  transition: 900ms;
}

#Hotels-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}

#Hotels-menu>div {
  margin: 0px 50px;
}

#button>input {
  position: relative;
  top: 15px;
  background-color: rgb(61, 61, 61);
  color: white;
  letter-spacing: 10px;
}

#Hotels-menu>div>select,
input {
  width: 200px;
  height: 75px;
  border-radius: 8px;
  border-color: rgb(219, 219, 219);
  font-family: 'Montserrat';
  text-align: center;
  font-size: 14pt;
}

#partners-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 188px;

}

#partners-logos>img {
  height: 100px;
  margin: 0px 50px;
}

#partners-logos>img:first-child {
  position: relative;
  bottom: 20px;
  height: 150px;
}

#partners-logos>img:last-child {
  position: relative;
  top: 25px;
  height: 50px;
}

#comments {
  background-image: url(images/MaskGroup.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
  margin: 150px 0px;
}

#comments>img {
  width: 350px;
  height: 289px;
  margin: 150px 10px;
}

footer {
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;

}

#logo {
  background-color: black;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin: 10px 50%;

}

#logo>img {
  position: relative;
  left: 5px;
  top: 4.5px;

}

#logo2 {
  filter: invert(1);
  height: 20px;
  width: 100px;
  margin: 10px 50%;
  position: relative;
  right: 20px;
}

#footer-menu {
  display: flex;
  justify-content: center;
  margin: 0px 50%;
  border-bottom: 1px rgb(11, 11, 11) solid;

}

#footer-menu>a {
  margin: 30px;
  text-decoration: none;
  color: rgb(45, 45, 45);
  transition: 900ms;
}

#footer-menu>a:hover {
  font-size: 20px;
  transition: 900ms;
}

footer>p {
  margin: 20px;
}

#end {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

#end>img {
  height: 20px;
  width: 110px;
  position: relative;
  left: 300px;

}
::-webkit-scrollbar {
 display: none;
}